{% extends 'base.html.twig' %}

{% block body %}
    <h1>Competitions list</h1>

    <table id="dataTable" >
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Startdate</th>
                <th>Enddate</th>
                <th>Workoutdeadline</th>
                <th>Created</th>
                <th>Current</th>
                <th>Minimumpointsperday</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for competition in competitions %}
            <tr>
                <td><a href="{{ path('competition_show', { 'id': competition.id }) }}">{{ competition.id }}</a></td>
                <td>{{ competition.name }}</td>
                <td>{% if competition.startDate %}{{ competition.startDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if competition.endDate %}{{ competition.endDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if competition.workoutDeadline %}{{ competition.workoutDeadline|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if competition.created %}{{ competition.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if competition.current %}Yes{% else %}No{% endif %}</td>
                <td>{{ competition.minimumPointsPerDay }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('competition_show', { 'id': competition.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('competition_edit', { 'id': competition.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('competition_new') }}">Create a new competition</a>
        </li>
    </ul>
  <script>
    $(document).ready( function () {
      $('#dataTable').DataTable();
    } );
  </script>
{% endblock %}
