{% extends 'base.html.twig' %}

{% block body %}
    <h1>Competition</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ competition.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ competition.name }}</td>
            </tr>
            <tr>
                <th>Startdate</th>
                <td>{% if competition.startDate %}{{ competition.startDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Enddate</th>
                <td>{% if competition.endDate %}{{ competition.endDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Workoutdeadline</th>
                <td>{% if competition.workoutDeadline %}{{ competition.workoutDeadline|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if competition.created %}{{ competition.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Current</th>
                <td>{% if competition.current %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Minimumpointsperday</th>
                <td>{{ competition.minimumPointsPerDay }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('competition_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('competition_edit', { 'id': competition.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
