{% extends 'base.html.twig' %}

{% block body %}
<div class="row" >
    <div class="col">
        <h3>{{ app.user.username|title }}</h3>
        <div>
            {{ include('profile/profileDetails.html.twig', { profile : app.user.profile }) }}
        </div>
    </div>

    <div class="col-9">
        <h3>Workouts</h3>
        <a href="{{ path('profile_for_event_workout_new') }}">Enter a workout</a>

        {% for workout in workouts %}
            {{ include('workout/displayWorkout.html.twig', { workout : workout }) }}
        {% endfor %}
    </div>

</div>
{% endblock %}
