{% set profileDetails = 
    { 
    "name" : "firstName",
    "gender" : "gender",
    "country" : "country",
    "hometown" : "hometown",
    "Favorite workout": "favWorkout",
    "Favorite Athlete" : "favAthlete"
    }
    %}
    
{% for label, detail in profileDetails %}
    {% if attribute(profile, detail) %}
        <div class="profile-detail-label">{{ label|title }}</div>
        <div class="profile-detail">{{ attribute(profile, detail) }}</div>
    {% endif %}
{% endfor %}