{% extends 'base.html.twig' %}

{% block body %}
    <h1>Profile</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ profile.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ profile.firstName }}</td>
            </tr>
            {# <tr>
                <th>Gender</th>
                <td>{{ profile.gender }}</td>
            </tr> #}
            <tr>
                <th>Country</th>
                <td>{{ profile.country }}</td>
            </tr>
            <tr>
                <th>Hometown</th>
                <td>{{ profile.hometown }}</td>
            </tr>
            <tr>
                <th>Favworkout</th>
                <td>{{ profile.favWorkout }}</td>
            </tr>
            <tr>
                <th>Favathlete</th>
                <td>{{ profile.favAthlete }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_profile_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_profile_edit', { 'id': profile.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
