{% extends 'dashboardLayout.html.twig' %}
{% set dashboardTitle = "Competitors" %}
{% block dashboardBody %}
    {# <h1>Competitors</h1> #}
    <h5>The brave souls who took up the {{ competition|title }}</h5>

<div class="row">
    <!-- Competitors -->
    <div class="col-xl-4 col-lg-5">
        <table class="table table-hover" id="dataTable">
          <thead>
            <tr>
                <th>Competitor</th>
                <th>First Name</th>
                <th>Hometown</th>
                <th></th>
            </tr>
          </thead>
        <tbody>
        {% for competitor in competitors %}
        <tr>
            <td>
            <a href="{{ path('competitor_show', {'competitor': competitor.id }) }}">{{ competitor|title }}</a>
            </td>
            <td>
                {{ competitor.profile.firstName|title }}
            </td>
            <td>
                {{ competitor.profile.hometown|title }}
            </td>
            <td>
                <a href="{{ path('competitor_show', {'competitor': competitor.id }) }}">view</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
</div>

{% endblock %}