{% extends 'base.html.twig' %}

{% block body %}
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{{ path('homepage') }}">
        Terminal City Fitness Club
      </a>
          {% if app.user %}
            <ul class="navbar-nav px-3" style="margin-right: 50px;">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"  href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ app.user.username|title }}
                </a>
                <div class="dropdown-menu" style="position:absolute;" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{{ path('user_edit_profile') }}">Edit Profile</a>
                  <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}">Log out</a>
                </div>
              </li>
            </ul>
          {% endif %}
    </nav>

    <div class="container-fluid">
      <div class="row">

    {{ include('sideNav.html.twig') }}
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">{% if dashboardTitle is not defined %}Dashboard{% else %}{{ dashboardTitle|title }}{% endif %}</h1>
        </div>
        {% block dashboardBody %}{% endblock %}
      </main>
      </div>
    </div>
{% endblock %}