{# adapted from https://codepen.io/anu-uxe/pen/drJERE #}
<div class="mt-5 pt-5 pb-5 footer">
<div class="container">
  <div class="row">
    <div class="col-lg-5 col-xs-12 about-company">
      <h2>Congrats on scrolling down!</h2>
      <p class="pr-5 text-white-50">If you're reading this, you could be working out...</p>
      <p>
        <a href="https://www.facebook.com/groups/280030642076785/" target="_blank"><img class="fa fa-facebook-square mr-1" src="{{ asset('assets/facebook.png') }}"></i></a>
        <a href="https://www.linkedin.com/in/jon-stewart-web-dev" target="_blank"><img class="fa fa-linkedin-square" src="{{ asset('assets/linkedin.png') }}"></i></a>
      </p>
    </div>
    <div class="col-lg-3 col-xs-12 links">
      <h4 class="mt-lg-0 mt-sm-3">Resources:</h4>
        <ul class="m-0 p-0">
          <li>- <a href="https://www.google.com" target="_blank">Workout Ideas</a></li>
          <li>- <a href="https://www.google.com" target="_blank">Eating Better</a></li>
          <li>- <a href="https://www.google.com" target="_blank">Get a job</a></li>
          <li>- <a href="https://www.google.com" target="_blank">Get Promoted at Work</a></li>
          <li>- <a href="https://www.google.com" target="_blank">Get Fired from Work</a></li>
          <li>- <a href="https://www.google.com" target="_blank">Looking for Life's Answers in Footers of Fitness Websites</a></li>
          <li>- <a href="https://www.google.com" target="_blank">How much time did Jon spend on this joke and not fixing all these bugs?</a></li>
          <li>- <a href="https://www.google.com" target="_blank">Actual Resources</a></li>
        </ul>
    </div>
    <div class="col-lg-4 col-xs-12 location">
      <h4 class="mt-lg-0 mt-sm-4">Global Presence</h4>
      <p>Want me to delete an email? Send it here:
      <a href="mailto:biceps@terminalcityfitnessclub.com">biceps@terminalcityfitnessclub.com</a></p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col copyright">
      <p class=""><small class="text-white-50">Built with extreme precision since 2012ish.</small></p>
    </div>
  </div>
</div>
</div>