        {# not logged only links #}
        {% if not app.user %}
        <li class="nav-item">
            <a class="nav-link {{ currentRoute ==  'fos_user_security_login' ? 'active' }}" href="{{ path('fos_user_security_login') }}">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{ currentRoute ==  'fos_user_registration_register' ? 'active' }}" href="{{ path('fos_user_registration_register') }}">Register</a>
        </li>

        {# END not logged only links #}
        {% elseif app.user %}
        {# logged in only links #}
        <li class="nav-item">
            <a class="nav-link {{ currentRoute ==  'dashboard' ? 'active' }}" href="{{ path('dashboard') }}">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{ currentRoute ==  'standings' ? 'active' }}" href="{{ path('standings') }}">Standings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{ currentRoute ==  'competitors' ? 'active' }}" href="{{ path('competitors') }}">Competitors</a>
        </li>
        {# <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Account
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item {{ currentRoute == 'user_edit_profile' ? 'active' }}" href="{{ path('user_edit_profile') }}">Edit Profile</a>
              <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}">Log out</a>
            </div>
        </li> #}
        {# END of logged in only links #}
        {% endif %}

        {# always include in the nav #}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Competition
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item {{ currentRoute ==  'challenges_page' ? 'active' }}" href="{{ path('challenges_page') }}">Challenges</a>
              <a class="dropdown-item {{ currentRoute ==  'about_page' ? 'active' }}" href="{{ path('about_page') }}">About</a>
              <a class="dropdown-item {{ currentRoute ==  'rules_page' ? 'active' }}" href="{{ path('rules_page') }}">Rules</a>
              <a class="dropdown-item {{ currentRoute ==  'faq_page' ? 'active' }}" href="{{ path('faq_page') }}">FAQ</a>
            </div>
        </li>
      {# End of always include #}

      {# Super admin menu #}
      {% if app.user and is_granted('ROLE_SUPER_ADMIN') %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Admin Panel
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{{ path('admin_home') }}">Admin</a>
              <a class="dropdown-item" href="{{ path('competition_index') }}">Competitions</a>
              <a class="dropdown-item" href="{{ path('event_index') }}">Events</a>
              <a class="dropdown-item" href="{{ path('eventtype_index') }}">EventTypes</a>
              {# <a class="dropdown-item" href="{{ path('competition_index') }}">Users</a> #}
            </div>
        </li>
      {% endif %}
