{% set currentRoute = app.request.attributes.get('_route') %}
<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      {{ include('navItems.html.twig') }}
      <li class="nav-item">
    </ul>
    </ul>
  </div>
</nav>