{% extends 'dashboardLayout.html.twig' %}
{% set hideToplinks = true %}
{% set dashboardTitle = competition|title %}

{% block dashboardBody %}

<div class="row">

    <div class="col col-xl-8 col-lg-7">
        {# event for each card #}
        {% for event in events %}
          {% if event.isDisplayed %}
          <div class="card shadow mb-4" id="event-{{ event.id }}">
            <!-- Card Header - Accordion -->
            <a href="#event-body-{{ event.id }}" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="event-body-{{ event.id }}">
              <h6 class="m-0 font-weight-bold text-primary">{{ event }}</h6></a>
                <div class="event-description text-xs px-4 pt-1">
                    {{ event.description }}
                </div>
            
            <!-- Card Content - Collapse -->
            <div class="collapse show" id="event-body-{{ event.id }}">
              <div class="card-body event-standing">
                
                <table class="table table-striped table-hover table-responsive">
                  <tr>
                    <th>Rank</th>
                    <th>Competitor</th>
                    <th>{{ event.unitLabel|title }}</th>
                 </tr>
                {% for data in allStandings[event.id] %}
                  {# {{ dump(event) }} #}
                  {# competitors listered here #}
                  <tr>
                  <td>
                    <div class="rank rank-{{ data['rank'] }}">
                      {{ data['rank'] }} 
                    </div>
                  </td>
                  <td>
                    {{ data['username']|title }}
                  </td>
                  <td>
                  {% if event.unitLabel == "seconds" %}
                    {{ data['value']|prettyTime }}
                  {% else %}
                    {{ data['value'] }}
                  {% endif %}
                  </td>
                </tr>
                {% else %}
                  
                {% endfor %}
                </table>

                {# {% if data|length == 0 %} #}
                  {# No entries yet! #}
                {# {% endif %} #}
              </div>
            </div>
          </div>
          {% endif %}
        {% endfor %}

    </div> {# end col div#}
</div> {# end row div#}
{% endblock %}
