{% extends 'base.html.twig' %}
{% set includeLinksOnSmScreen = {'includeLinksOnSmScreen': true } %}

{% block body %}
    <div id="wrapper">
        <div class="container">
         <div class="row">
<div class="col">
    <div class="mb-5">
    <h3> Terminal City Fitness Club</h3>
    <span>Have a question or feedback? Send Jon an email at <a href="mailto:biceps@terminalcityfitnessclub.com">biceps@terminalcityfitnessclub.com</a></span>
    </div>
<h4>
Beginnings
</h4>
<p>
In late 2011, co-founder and former collegiate athlete Jon &#34;Biceps&#34; Stewart realized that he had let his game slip.  
He had traded in the five a.m. crew practices for a cushy life in the suburbs.  Instead of running marathons,
 he was reading about marathons.  His once indomitable 6&#39;3&#34; 155 pound frame had dwindled to a paltry 6&#39;3&#34;
  155 pound frame.  As he spiraled towards an even softer 153 pounds, he decided he needed a new source 
  of motivation to work out; he needed some form of peer pressure, as well as competition, to achieve his ultimate
   goal of looking better naked (a commonly stated goal of many TCFC contenders).  Excited by the prospect 
   of what that two extra pounds of muscle would do for his social life, Biceps approached a few friends and
    family members with an idea for a social athletic competition.  The idea struck a chord and TCFC launched 
    its first competition in early 2012.
</p>

<h4>
Honor Code
</h4>
<p>
Although the goal of the TCFC is for each athlete to look better naked, the central pillar of the competition 
is honor. For TCFC to succeed, it is imperative that all contenders strive for the utmost degree of honor. 
Each new contender&#39;s honor has been vouched for by an existing contender. Likewise, when you want a 
friend to join, you will be asked to vouch for his/her honor.
</p>
<p>
Honor is a vague concept.  Obviously, lying about working out is dishonorable, but it is not always that clear.  
For example, does shoveling your car out of the snow for 40 minutes count as a cardio work out?  
Does the half-mile walk from your car to your office count?  What about wearing a pedometer and counting 
every step you take during the day?  When you find yourself asking these types of questions, ask yourself 
one more question: &#34;Is this something that I had to do anyway, or did I put in the extra effort to look good naked.&#34;
 If you continue shoveling out a neighbor or two in order to make it a workout, I say count it. But don&#39;t try to 
 turn regular life into a &#34;work out.&#34; That said, if you organize your life to make regular life a work out (e.g., 
 you work at gym, you cycle to work, you walk your dog that extra mile, etc.), then your workouts not only 
 count, but you are the envy your fellow contenders.  Finally, sexual activities do not count as a workout.
</p>
<p>
Above all, we want you to get credit where credit is due. So, if you think you deserve credit, but you 
don&#39;t want to be accused of being dishonorable, ask your team captain for guidance. Asking is always
 honorable.
</p>

Colin 
<br>Co-founder
<p>
<em>p.s.</em>Team Spicy Noodle throws down.
</p>

        </div>
        </div>
    </div>
{% endblock %}



