{% extends 'base.html.twig' %}
{% set includeLinksOnSmScreen = {'includeLinksOnSmScreen': true } %}

{% block body %}
    <div id="wrapper">
        <div class="container">
         <div class="row">
            <div class="mb-5">
                <h3> Challenges for {{ competition }}</h3>
                <span>Have a question or feedback? Send Jon an email at <a href="mailto:biceps@terminalcityfitnessclub.com">biceps@terminalcityfitnessclub.com</a></span>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
            {% for challenge in challenges|slice(0,7) %}
            {% if challenge.isDisplayed == 1 %}
              <!-- Collapsable Card Example -->
                  <div class="card shadow mb-4">
                    <!-- Card Header - Accordion -->
                    <a href="#challengeBody-{{ challenge.id }}" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="challengeBody-{{ challenge.id }}">
                      <h6 class="m-0 font-weight-bold text-primary">{{ challenge.title|title }}</h6>
                    </a>
                    <!-- Card Content - Collapse -->
                    <div class="collapse show" id="challengeBody-{{ challenge.id }}">
                      <div class="card-body">
                        <h5>{{ challenge['startDate']|date("M d") }}</h5>
                        {{ challenge['description'] }}
                      </div>
                    </div>
                  </div>
                {# {{ dump(challenge) }} #}
            {% endif %}
            {% endfor %}
                </div>
            </div> 

        </div> {# end div container #}
    </div>
{% endblock %}



