{% extends '@FOSUser/falayout.html.twig' %}

{% block fos_user_content %}

{% trans_default_domain 'FOSUserBundle' %}

<div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3>No Current Competitions</h3>
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-center links">
                Thanks for stopping by. If you'd like an app like this, email Jon. He's relatively friendly.
                </div>
                <a href="https://jonmstewart.com">jonmstewart.com</a>
            </div>
            <div class="card-footer">
                
            </div>
        </div>
    </div>
{% endblock %}
