{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div class="container">
         <div class="row">

<div class="col-xs-9 col-sm-9 col-md-9"> <!--center div-->
<div class="row">

<div class="mb-5">
<h3> Frequently Asked Questions</h3>
<span>Have a question or feedback? Send Jon an email at <a href="mailto:biceps@terminalcityfitnessclub.com">biceps@terminalcityfitnessclub.com</a></span>
</div>

{% set faqs = [ 
    "I failed to post my workout within 48 hours because I used up all my data plan watching Arnold Schwarzenegger workout videos on my phone.  Can I still post them?",
    "How do I edit my profile to include my nickname \"The Poodle\"?",
    "I have an idea for a new category.  How do I suggest it?",
    "I have a friend who wants to join.  How do I get him on my team?",
    "I noticed something about another athlete's post that I don't think is correct/honorable.  What should I do?",
    ] %}

{% set answers = [ 
    "The 48 hour rule is a little loosie-goosie.  The purpose of the rule is to make sure that people know the mark to beat.  If you are lazy about posting, or are trying to sandbag your opponent, you cannot post after the 48 hour window.  If you have extenuating circumstances, we suggest that you plead your case on the TCFC wall, and if no one objects, you may post after the 48 hour window.",
    "Hi, the Poodle!  Go to Account, Edit Profile. ",
    "Jon a/k/a Biceps is the league commissioner.  Send Jon a private message and he will run it by Colin to make sure that Colin thinks he can medal in it before it becomes a category.  ",
    "Send them the register link: terminalcityfitnessclub.com/register . Don't forget to invite them to the facebook group.",
    "We discourage direct confrontations, as the rules in this dynamic competition are frequently updated to accommodate our growing pool of athletes.  Send Biceps or Colin a message and we will address your concern.",

    ] %}

{% for key, question in faqs %}
  <!-- Collapsable Card Example -->
  <div class="card shadow mb-4">
    <!-- Card Header - Accordion -->
    <a href="#questionBody-{{ key }}" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="questionBody-{{ key }}">
      <h6 class="m-0 font-weight-bold text-primary">{{ question }}</h6>
    </a>
    <!-- Card Content - Collapse -->
    <div class="collapse" id="questionBody-{{ key }}">
      <div class="card-body">
        {{ answers[key] }}
      </div>
    </div>
  </div>
{% endfor %}

</div><!-- end row -->
</div><!--center div-->
        </div>
        </div>
    </div>
{% endblock %}



