{% extends 'base.html.twig' %}
{% set includeLinksOnSmScreen = {'includeLinksOnSmScreen': true } %}
{% block body %}
    <div id="wrapper">
        <div id="container">
            <img src="{{ asset('assets/logo.png') }}" class="img-fluid" alt="Responsive image">
        </div>
    </div>
{% endblock %}



