{% extends 'base.html.twig' %}
{% set includeLinksOnSmScreen = {'includeLinksOnSmScreen': true } %}

{% block body %}
    <div id="wrapper">
        <div class="container">
         <div class="row">
                <div class="mb-5">
    <h3> Rules</h3>
    <span>Have a question or feedback? Send Jon an email at <a href="mailto:biceps@terminalcityfitnessclub.com">biceps@terminalcityfitnessclub.com</a></span>
    </div>

        </div>
        </div>
    </div>
{% endblock %}



