{% extends 'base.html.twig' %}
{% block body %}
    <h1>Admin Panel</h1>

    <ul>
        <li>
            <a class="nav-link" href="{{ path('admin_user_index') }}">Users</a>
        </li>
        <li>
            <a class="nav-link" href="{{ path('competition_index') }}">Competitions</a>
        </li>
        <li>
            <a class="nav-link" href="{{ path('event_index') }}">Events</a>
        </li>
        <li>
            <a class="nav-link" href="{{ path('eventtype_index') }}">Event Types</a>
        </li>
{#         <li>
            <a class="nav-link" href="{{ path('competition') }}">Users</a>
        </li> #}
    </ul>
{% endblock %}