{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <h3>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</h3>
{% endblock fos_user_content %}
