{% trans_default_domain 'FOSUserBundle' %}    

<div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3>Register</h3>
            </div>

            <div class="card-body">      
            {{ form_start(form, {'method': 'post', 
                'action': path('fos_user_registration_register'), 
                'attr': {'class': 'fos_user_registration_register'}}) }}

                {% if form_errors(form.username) %}
                <span class="input-group-text alert alert-danger">
                    {{ form_errors(form.username) }}
                </span>
                {% endif %}
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    {{ form_widget(form.username, 
                        { 'attr': {
                            'class': 'form-control', 
                            'placeholder' : 'Username'
                        } }) }}
                </div>
                
                {% if form_errors(form.email) %}
                <div class="input-group-text alert alert-danger">
                    {{ form_errors(form.email) }}
                </div>
                {% endif %}
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                    </div>
                    {{ form_widget(form.email, 
                        { 'attr': {
                            'class': 'form-control', 
                            'placeholder' : 'Email'
                        } }) }}

                </div>

                {% if form_errors(form.plainPassword.first) %}
                <span class="input-group-text alert alert-danger">
                    {{ form_errors(form.plainPassword.first) }}
                </span>
                {% endif %}
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    {{ form_widget(form.plainPassword.first, 
                        { 'attr': {
                            'class': 'form-control', 
                            'placeholder' : 'Password'
                        } }) }}
                </div>

                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    {{ form_widget(form.plainPassword.second, 
                        { 'attr': {
                            'class': 'form-control', 
                            'placeholder' : 'Confirm password'
                        } }) }}
                </div>

                <div>
                    <input type="submit" class="btn float-right login_btn" value="{{ 'registration.submit'|trans }}" />
                </div>

                {{ form_end(form) }}
            </div> {# end card body#}
        </div>
    </div>