.footer{
  /*background: #152F4F;*/
  background: rgba(0,0,0,.85);
  /*background: rgba(11,40,102,.95);*/
  /*background: #0B2866;*/
  color:white;
}
.footer .links ul { list-style-type: none; }
.footer .links li a {
    color: white;
    transition: color .2s;
    
  }
.footer .links li a:hover {
  text-decoration:none;
  color:#4180CB;
}

.footer .about-company i {font-size: 25px;}
.footer .about-company a {
  color:white;
  transition: color .2s;
  
}
.footer .about-company a:hover{color:#4180CB}

.footer .location i{font-size: 18px;}
  
.footer .copyright p{border-top:1px solid rgba(255,255,255,.1);} 
