{% extends '@FOSUser/falayout.html.twig' %}

{% block fos_user_content %}

{% trans_default_domain 'FOSUserBundle' %}

<div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3>Sign In</h3>
                {% if error %}
                    <div class="input-group-text text-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
            </div>
            <div class="card-body">
                <form action="{{ path("fos_user_security_check") }}" method="post">
                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                {% endif %}

                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" placeholder="{{ 'security.login.username'|trans }}" />
                    </div>

                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" class="form-control" id="password" name="_password" required="required" autocomplete="current-password" placeholder="{{ 'security.login.password'|trans }}"/>
                    </div>
                    <div class="row align-items-center remember">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />{{ 'security.login.remember_me'|trans|title }}
                    </div>
                    <div class="form-group">
                        <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn float-right login_btn">
                    </div>
                </form>
            </div>
            <div class="card-footer">
                {# <div class="d-flex justify-content-center links">
                    Don't have an account?<a href="{{ path('fos_user_registration_register') }}">Sign Up</a>
                </div>
                <div class="d-flex justify-content-center">
                    <a href="{{ path('fos_user_resetting_request') }}">Forgot your password?</a> 
                </div> #}
            </div>
        </div>
    </div>
{% endblock %}
