<div class="workout-container">
    {% set event = workout.event %}
        
    {{ workout.value }} {{ event.unitLabel }}<br>
    {{ workout.workoutDate|date('m/d/Y') }}<br>
    {{ event.title }}<br>
    {{ workout.description }}
</div>
