{% extends 'base.html.twig' %}

{% block body %}
    <h1>Workouts list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>User</th>
                <th>Event</th>
                <th>Workoutdate</th>
                <th>Description</th>
                <th>Enteredon</th>
                <th>Deletedon</th>
                <th>Value</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for workout in workouts %}
            <tr>
                <td><a href="{{ path('workout_show', { 'id': workout.id }) }}">{{ workout.id }}</a></td>
                <td>{{ workout.user }}</td>
                <td>{{ workout.event }}</td>
                <td>{% if workout.workoutDate %}{{ workout.workoutDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ workout.description }}</td>
                <td>{% if workout.enteredOn %}{{ workout.enteredOn|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if workout.deletedOn %}{{ workout.deletedOn|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ workout.value }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('workout_show', { 'id': workout.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('workout_edit', { 'id': workout.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('workout_new') }}">Create a new workout</a>
        </li>
    </ul>
{% endblock %}
