{% extends 'base.html.twig' %}

{% block body %}
    <h1>Workout</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ workout.id }}</td>
            </tr>
            <tr>
                <th>User</th>
                <td>{{ workout.user }}</td>
            </tr>
            <tr>
                <th>Event</th>
                <td>{{ workout.event }}</td>
            </tr>
            <tr>
                <th>Workoutdate</th>
                <td>{% if workout.workoutDate %}{{ workout.workoutDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ workout.description }}</td>
            </tr>
            <tr>
                <th>Enteredon</th>
                <td>{% if workout.enteredOn %}{{ workout.enteredOn|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Deletedon</th>
                <td>{% if workout.deletedOn %}{{ workout.deletedOn|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Value</th>
                <td>{{ workout.value }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('workout_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('workout_edit', { 'id': workout.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
