{% extends 'base.html.twig' %}

{% block title %}Have Honor. Look Better{% endblock %}

{% block body %}
    <h1>Challenge begins January 4th!</h1>
    <img src="{{ asset('assets/logo.png') }}" class="img-fluid" alt="Responsive image">
    {% block fos_user_content %}{% endblock %}
{% endblock %}