{% extends "@FOSUser/falayout.html.twig" %}

{% block fos_user_content %}
{% trans_default_domain 'FOSUserBundle' %}

<div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3>Reset Password</h3>
            </div>

            <div class="card-body">
                <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
                    <div class="input-group form-group">
                            <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                            <input type="text" class="form-control" id="username" name="username" required="required" autocomplete="username" placeholder="{{ 'resetting.request.username'|trans }}" />
                    </div>
                    <div class="form-group">
                        <input type="submit" id="_submit" name="_submit" class="btn float-right login_btn" value="Reset" />
                    </div>
                </form>
            </div>
        </div>
</div>
{% endblock fos_user_content %}
