{% trans_default_domain 'FOSUserBundle' %}

<div class="d-flex justify-content-center h-100">
    <div class="card">
        <div class="card-header">
            <h3>Register</h3>
        </div>

        <div class="card-body"> 

        {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
            {# {{ form_widget(form) }} #}
                {% if form_errors(form.plainPassword.first) %}
                <span class="input-group-text alert alert-danger">
                    {{ form_errors(form.plainPassword.first) }}
                </span>
                {% endif %}
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    {{ form_widget(form.plainPassword.first, 
                        { 'attr': {
                            'class': 'form-control', 
                            'placeholder' : 'Password'
                        } }) }}
                </div>

                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    {{ form_widget(form.plainPassword.second, 
                        { 'attr': {
                            'class': 'form-control', 
                            'placeholder' : 'Confirm password'
                        } }) }}
                                </div>

            <div>
                <input type="submit" class="btn float-right login_btn" value="{{ 'resetting.reset.submit'|trans|title }}" />
            </div>

        {{ form_rest(form) }}
        {{ form_end(form) }}

        </div> {# end card body#}
    </div>
</div>
