{% extends 'base.html.twig' %}

{% block body %}
    <h1>Events list</h1>

    <table id="dataTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Number</th>
                <th>Title</th>
                <th>Description</th>
                <th>Unitlabel</th>
                <th>Questionforform</th>
                <th>Competition</th>
                <th>Eventtype</th>
                <th>Pointsmultiplier</th>
                <th>Startdate</th>
                <th>Minimumthreshold</th>
                <th>Target</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td><a href="{{ path('event_show', { 'id': event.id }) }}">{{ event.id }}</a></td>
                <td>{{ event.number }}</td>
                <td>{{ event.title }}</td>
                <td>{{ event.description }}</td>
                <td>{{ event.unitLabel }}</td>
                <td>{{ event.questionForForm }}</td>
                <td>{{ event.competition }}</td>
                <td>{{ event.eventType }}</td>
                <td>{{ event.pointsMultiplier }}</td>
                <td>{% if event.startDate %}{{ event.startDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ event.minimumThreshold }}</td>
                <td>{{ event.target }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('event_show', { 'id': event.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('event_edit', { 'id': event.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('event_new') }}">Create a new event</a>
        </li>
    </ul>

  <script>
    $(document).ready( function () {
      $('#dataTable').DataTable();
    } );
  </script>
{% endblock %}
