{% extends 'base.html.twig' %}

{% block body %}
    <h1>Event</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ event.id }}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ event.number }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ event.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ event.description }}</td>
            </tr>
            <tr>
                <th>Unitlabel</th>
                <td>{{ event.unitLabel }}</td>
            </tr>
            <tr>
                <th>Questionforform</th>
                <td>{{ event.questionForForm }}</td>
            </tr>
            <tr>
                <th>Competition</th>
                <td>{{ event.competition }}</td>
            </tr>
            <tr>
                <th>Eventtype</th>
                <td>{{ event.eventType }}</td>
            </tr>
            <tr>
                <th>Pointsmultiplier</th>
                <td>{{ event.pointsMultiplier }}</td>
            </tr>
            <tr>
                <th>Startdate</th>
                <td>{% if event.startDate %}{{ event.startDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Minimumthreshold</th>
                <td>{{ event.minimumThreshold }}</td>
            </tr>
            <tr>
                <th>Target</th>
                <td>{{ event.target }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('event_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('event_edit', { 'id': event.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
