<style>
.col-md-3{
  display: inline-block;
  margin-left:-4px;
}
.challenge-card{
  width:100%;
  height:auto;
}
body .carousel-indicators li{
  background-color:red;
}
body .carousel-control-prev-icon,
body .carousel-control-next-icon{
  background-color:red;
}
body .no-padding{
  padding-left: 0;
  padding-right: 0;
}
</style>

<div id="challenge-carousel" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#challenge-carousel" data-slide-to="0"></li>
    <li data-target="#challenge-carousel" data-slide-to="1"></li>
    <li data-target="#challenge-carousel" data-slide-to="2"></li>
  </ul>
  
  <!-- The slideshow -->
  <div class="container carousel-inner no-padding">
    
    {# {{ dump(challenges) }} #}
      {% for eventKey, challenge in challenges %}
        {% if loop.index % 4 == 1 %}
        <div class="carousel-item {% if loop.first %}active{% endif %}">
        {% endif %}
          {# <div class="col-xs-3 col-sm-3 col-md-3"> #}
          {# <div class="col-xl-3 col-md-6 mb-4"> #}
          <div class="col-xs-3 col-xl-3 col-md-3">
            <div class="challenge-card">
              {# {{ challenge['startDate'] }} #}
              {# {{ dump(loop.index) }} #}
              {# {{ dump(loop.index is divisible by(4)) }} #}
              {{ include('dashboard/challengeCard.html.twig', {'competitor': competitor, 'challenge' : challenge, 'personalBest' : personalBests[challenge.id], 'eventKey': eventKey} ) }}
            </div>
          </div>
        {% if loop.last or (loop.index % 4) == 0 %}
          </div>
        {% endif %}
      {% endfor %}        


  </div>
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#challenge-carousel" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#challenge-carousel" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

<script>
$(document).ready( function () {
    $('.carousel').carousel({
      interval: false
    });
  });
</script>