{# primary for today's challenge 
{% set now = "now"|date("m-d-Y") %}
{# {% set now = "01-04-2020" %} 
{% set eventDates = challenge.datesOfRepeatedEvent %}
{# {{ dump(eventDates) }}
{{ dump(now) }} 
{% if now in eventDates %}
{% set style = 'primary' %}

{% elseif "now"|date_modify("+1 day")|date("m-d-Y") in eventDates %}
{# info for tomorrow's challenge 
{% set style = 'info' %}

{% else %}
{# secondary for other challenge 
{% set style = 'secondary' %} 
{% endif %}#}
{% set style = 'primary' %}
<div class="col-xl-3 col-md-6 mb-4">
  <div class="card border-left-{{ style }} shadow h-100 py-2">
    <div class="card-body">
      <div class="row no-gutters align-items-center">
        <div class="col mr-2">
          <div class="text-xs font-weight-bold text-{{ style }} text-uppercase mb-1">
            {{ challenge.startDate|date("M d") }} Challenge 
          </div>
          <div class="h5 mb-0 font-weight-bold text-gray-800">{{ challenge.title }} </div>
        </div>
        <div class="col-auto">

          {% if personalBest is not null and personalBest['prettyValue'] is not null %} 
            {# {{ dump(personalBest) }} #}
            <div class="card bg-success text-white shadow" >
              <div class="card-body">
              {{ personalBest['prettyValue'] }}
              <div class="text-white-50 small">
                {% if app.user.id == competitor.id %}Personal 
                {% else %}
                  {{ personalBest['username']|title ~"'s"}}
                {% endif %}
                  best in competition</div>
              </div>
            </div>
          {% endif %}
          {% if app.user.id == competitor.id %}
            {% if date(challenge['startDate']) > date("-3 days") and 
              date(challenge['startDate']) < date()
            %}
            <div>
              <a href="{{ path('profile_workout_new', {'eventKey': eventKey }) }}">Enter workout for this challenge</a>
            </div>
          {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>