{% extends 'dashboardLayout.html.twig' %}

{% block dashboardBody %}
    <h1>Enter your workout</h1>
    <h2>What event are you entering your workout for?</h2>

    {% for event in events %} 
        <a href="{{ path('profile_workout_new', {'event': event.id }) }}">{{ event.title }}</a><br>
    {% endfor %}

{% endblock %}
