{% extends 'dashboardLayout.html.twig' %}
{% set hideToplinks = true %}
{% set dashboardTitle = "Enter your workout"|title %}
{% block dashboardBody %}

{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
    
<div class="row">
    <div class="col">
    <h5>Event {{ event }}</h5>
    <p>{{ event.description }}
    {% if app.request.get('_route') != "profile_alt_workout_new" %}
        <span><a href="{{ path('profile_alt_workout_new', { 'eventKey' : eventKey }) }}">Can't do this challenge? Enter an alternate workout here.</a></span>
    {% endif %}
</p>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        {# <input type="submit" value="Create" /> #}
    {{ form_end(form) }}
    
    </div>
</div>
{% endblock %}
