{% extends 'dashboardLayout.html.twig' %}
{% set hideToplinks = true %}

{% block dashboardBody %}
    <div class="row">

      <!-- Pie Chart -->
      <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
          <!-- Card Header - Dropdown -->
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Challenge Summary</h6>
          </div>
          <!-- Card Body -->
          <div class="card-body">
            <div class="chart-pie pt-4 pb-2">
              <canvas id="myPieChart"></canvas>
            </div>
            <div class="mt-4 text-center small">
              <span class="mr-2 text-success">
                <i class="fas fa-circle text-success">o</i> {{ numImprovedChallenges }} Improved 
              </span>
              <span class="mr-2 text-primary">
                <i class="fas fa-circle text-primary">o</i> {{ challengesCompleted|length }} Completed
              </span>
              <span class="mr-2 text-secondary">
                <i class="fas fa-circle text-secondary">o</i> {{ numMissedChallenges }} Missed
              </span>
            </div>
          </div>
        </div>
      </div>

      <!-- Profile Card -->
      <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4 " style="height: 93%;">
          <!-- Card Header - Dropdown -->
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">{{ competitor.username|title }} Profile</h6>
          </div>
          <!-- Card Body -->
          <div class="card-body">
            {% set profile = competitor.profile %}
              <div class="container" style="display: block; height: 150px; width: 284px;">
                <div class="row mt-2">
                  <div class="col "><span class="small font-weight-bold">Name</span><br> {{ profile.firstName|title }}</div>
                  <div class="col "><span class="small font-weight-bold">Hometown</span><br> {{ profile.hometown|title }}</div>
                </div>
                <div class="row  mt-2">
                  <div class="col"><span class="small font-weight-bold">Fave Workout</span><br> {{ profile.favWorkout|title }}</div>
                  <div class="col"><span class="small font-weight-bold">Country</span><br> {{ profile.country|title }}</div>
                </div>
                <div class="row mt-2">
                  <div class="col"><span class="small font-weight-bold">Fave Athlete</span><br> {{ profile.favAthlete|title }}</div>
                </div>
              </div>
{#               <table>
                <tr>
            <th><h4 class="small font-weight-bold">Name</h4></th><td>{{ profile.firstName|title }}</td></tr>
              </table> #}
          </div>
        </div>
      </div>

    </div>

    {# challenge row #}
    <div class="row">
      {% for eventKey, challenge in challenges|slice(0,4) %}
        {{ include('dashboard/challengeCard.html.twig', {'competitor': competitor, 'challenge' : challenge, 'personalBest' : personalBests[challenge.id], 'eventKey': eventKey} ) }}
      {% endfor %}
    </div>
    {# end challenge row #}

    <!-- Workouts Table -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Workouts</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered table-striped" id="workoutDataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Date</th>
                <th>Event</th>
                <th>Workout</th>
                <th>Description</th>
                <th>Action</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>Date</th>
                <th>Event</th>
                <th>Workout</th>
                <th>Description</th>
                <th>Action</th>
              </tr>
            </tfoot>
            <tbody>
              {% for workout in workouts %}
            <tr>
              <td>{{ workout.workoutDate|date('m/d/Y') }}</td>
              <td>{{ workout.event.title }}</td>
              <td>{{ workout.prettyValue }}</td>
              
              <td>{{ workout.description }}</td>
              <td>
                {% if app.user == workout.user %}
                <li>
                  <a href="{{ path('dashboard_workout_edit', { 'id': workout.id }) }}">Edit</a>
                </li>
                {% endif %}
              </td>
            </tr>
          {% else %}
            <tr><td>No workouts yet. Enter one here!</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {# end worksouts table #}

{% endblock %}

    {% block javascripts %}
      {{ parent() }}
      <script src="{{ asset('js/chart.js/Chart.js') }}"></script>

      <script>
      $(document).ready( function () {
        $('#workoutDataTable').DataTable();

        // start chart code
        // Set new default font family and font color to mimic Bootstrap's default styling
        Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
        Chart.defaults.global.defaultFontColor = '#858796';

        // Pie Chart Example
        var ctx = document.getElementById("myPieChart");

        var myPieChart = new Chart(ctx, {
          type: 'doughnut',
          data: {
            labels: ["Improved","Completed", "Missed"],
            datasets: [{
              data: [
              {{ numImprovedChallenges }}, 
              {{ challengesCompleted|length }},
              {{ numMissedChallenges }}
              ],
              backgroundColor: ['#1cc88a', '#4e73df', '#858796'],
              hoverBackgroundColor: ['#1cc555', '#2e59d9', '#858096'],
              hoverBorderColor: "rgba(234, 236, 244, 1)",
            }],
          },
          options: {
            maintainAspectRatio: false,
            tooltips: {
              backgroundColor: "rgb(255,255,255)",
              bodyFontColor: "#858796",
              borderColor: '#dddfeb',
              borderWidth: 1,
              xPadding: 15,
              yPadding: 15,
              displayColors: false,
              caretPadding: 10,
            },
            legend: {
              display: false
            },
            cutoutPercentage: 50,
          },
        });

      });
      </script>

      


    {% endblock %}
