{% extends 'dashboardLayout.html.twig' %}
{% set hideToplinks = true %}
{% set dashboardTitle = "Edit workout"|title %}
{% block dashboardBody %}

{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
    
<div class="row">
    <div class="col">
    <h5>For {{ workout.event.title|title }}</h5>
    <p>{{ workout.event.description }}</p>

    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
    
    </div>
</div>
{% endblock %}