{% extends 'base.html.twig' %}

{% block body %}
    <h1>Eventtypes list</h1>

    <table id="dataTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for eventType in eventTypes %}
            <tr>
                <td><a href="{{ path('eventtype_show', { 'id': eventType.id }) }}">{{ eventType.id }}</a></td>
                <td>{{ eventType.name }}</td>
                <td>{{ eventType.description }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('eventtype_show', { 'id': eventType.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('eventtype_edit', { 'id': eventType.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('eventtype_new') }}">Create a new eventType</a>
        </li>
    </ul>
  <script>
    $(document).ready( function () {
      $('#dataTable').DataTable();
    } );
  </script>
{% endblock %}
