{% extends 'base.html.twig' %}

{% block body %}
    <h1>Eventtype</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ eventType.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ eventType.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ eventType.description }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('eventtype_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('eventtype_edit', { 'id': eventType.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
